body {
padding-left: 12pt;
padding-right: 12pt;
color: #000;
background: #FFF;
}

h1 {
font-size: 24pt;
font-weight: bold;
text-align: center;
font-variant: small-caps;
font-family: "Helvetica", "Arial", sans-serif;
}

h2 {
font-size: 18pt;
font-weight: bold;
text-align: center;
font-variant: small-caps;
font-family: "Helvetica", "Arial", sans-serif;
}

h3 {
font-size: 16pt;
font-weight: bold;
text-align: left;
font-variant: small-caps;
font-family: "Helvetica", "Arial", sans-serif;
}

p, ul, ol, td {
font-size: 12pt;
line-height: 120%;
font-family: "Georgia", "New Century Schoolbook", "Times New Roman", "Times", serif;
}

td {
    margin-left: 2em;
}
p {
text-align: justify;
width: 95%;
}

blockquote p {
text-align: left;
}

em, q {
font-style: italic;
}

strong {
font-weight: bold;
}

.title-page p {
    text-align: center;
}

.pageno {
    position: absolute;
    right: 1em;
    color: yellow;
}

img.cover {
/*    width: 100%; */
    display: block;
    margin-left: auto;
    margin-right: auto; 
}


/* =====================================*/
/* Adjustments for Mobile Devices       */
/* =====================================*/

@media (max-width: 480px) {
  p { font-size: 12pt; margin-left: 1%; margin-right: 1%; margin-bottom: 4pt; margin-top: 4pt; line-height: 125%; }
  p.indentb { margin-left: 6%; margin-right: 1%; }
  p.quoteb { margin-left: 6%; margin-right: 1%; }
  p.index { margin-left: 6%; margin-right: 1%; }
  h1 { font-size: 18pt; margin-left: 1%; margin-right: 1%; }
  h2 { font-size: 16pt; margin-left: 1%; margin-right: 1%; }
  h3 { font-size: 14pt; margin-left: 1%; margin-right: 1%; }
  h4 { font-size: 13pt; }
  h5 { margin-left: 1%; }
  h6 { margin-left: 1%; }
  img { width: 150px; height: auto; }
  img.auto {width: auto ; height: auto; }
  blockquote {margin-left: 1%; }
}
